/**

   @html
--------------------------------------------------------
  elements/_html.scss
--------------------------------------------------------

  HTML should contain the site's default background color
  and font-size

------------------------------------------------------ */

html {
  // font-size: 80%;
  // @include gradual-queries(20em, 80%, 80em, 100%, 10em);

  font-size: 100%;
  @include gradual-queries(20em, 90%, 80em, 110%, 10em);
}

html, body {
  color: $color__black;
  background-color: $color__offwhite;
}

* {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
