.bg_orange {
  background-color: $color__orange;
}

.bg_white {
  background-color: $color__white;
}

.bg_navy {
  background-color: $color__navy;
}

.cl_orange {
  color: $color__orange;
}

.cl_white {
  color: $color__white;
}

.cl_navy {
  color: $color__navy;
}
