@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700');

$roboto: 'Roboto';
%roboto--light {
  font-family: $roboto;
  font-weight: 300;
  font-style: normal;
}

%roboto--regular {
  font-family: $roboto;
  font-weight: 400;
  font-style: normal;
}

%roboto--bold {
  font-family: $roboto;
  font-weight: 700;
  font-style: normal;
}

$roboto-slab: 'Roboto Slab';
%roboto-slab--light {
  font-family: $roboto-slab;
  font-weight: 300;
  font-style: normal;
}

%roboto-slab--regular {
  font-family: $roboto-slab;
  font-weight: 400;
  font-style: normal;
}

%roboto-slab--bold {
  font-family: $roboto-slab;
  font-weight: 700;
  font-style: normal;
}


/* @roboto-slab
--------------------------------------------------------

This is your basic sans font.

Usage: use sans regular on a p
p {
  @extend %roboto-slab--regular;
}

------------------------------------------------------ */

/* @sans
--------------------------------------------------------

This is your basic sans font.

Usage: use sans regular on a p
p {
@extend %sans--regular;
}

------------------------------------------------------ */

$sans:sans-serif;

%sans--light {
  font-family: $sans;
  font-weight: 300;
  font-style: normal;
}

%sans--regular {
  font-family: $sans;
  font-weight: 400;
  font-style: normal;
}

%sans--semi-bold {
  font-family: $sans;
  font-weight: 600;
  font-style: normal;
}

%sans--bold {
  font-family: $sans;
  font-weight: 700;
  font-style: normal;
}





/* @serif
--------------------------------------------------------

This is your basic serif font.

Usage: use serif regular on a p
p {
@extend %serif--regular;
}

-------------------------------------------------------- */

$serif: georgia, times;

%serif--light {
  font-family: $serif;
  font-weight: 300;
  font-style: normal;
}

%serif--regular {
  font-family: $serif;
  font-weight: 400;
  font-style: normal;
}

%serif--italic {
  font-family: $serif;
  font-weight: 400;
  font-style: italic;
}

%serif--semi-bold {
  font-family: $serif;
  font-weight: 600;
  font-style: italic;
}
