<div class="not-found-page block--ends">
  <h1>Error 404</h1>
  <p>
    No ha sido posible encontrar la página solicitada. <br>
    Probablemente se encuentra en mantenimiento, fue eliminada o simplemente no existe.
  </p>
  <a class="link" href="/">Volver al inicio</a>
</div>
