<div class="site-card panel block--ends">
  <div class="card-image">
    <div class="card-title"><h2>Bienvenido</h2></div>
  </div>
  <div class="card-description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero assumenda cum dolores vitae quis blanditiis, maxime iure incidunt et repellat impedit sint iusto deserunt eveniet autem, reprehenderit explicabo architecto rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sed libero atque nesciunt nam, placeat et, voluptate.
    </p>
  </div>
</div>

<div class="site-card panel block--ends">
  <div class="card-description">
    <h4>¿Quiénes somos?</h4>
    <p class="block">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero assumenda cum dolores vitae quis blanditiis, maxime iure incidunt et repellat impedit sint iusto deserunt eveniet autem, reprehenderit explicabo architecto rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sed libero atque nesciunt nam, placeat et, voluptate.
    </p>
    <h4>¿Que hacemos?</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero assumenda cum dolores vitae quis blanditiis, maxime iure incidunt et repellat impedit sint iusto deserunt eveniet autem, reprehenderit explicabo architecto rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sed libero atque nesciunt nam, placeat et, voluptate.
    </p>
    <p class="block">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolorem, velit atque officia consequatur? Inventore quia cupiditate, ipsam fuga doloribus! Blanditiis et cum, perferendis tenetur sed ullam eligendi nisi porro.
    </p>
    <h4>Conozca sobre nuestras publicaciones en el blog del sitio</h4>
    <p class="block">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore expedita similique, velit laborum culpa quibusdam ipsum placeat aut? Quos reprehenderit vero deleniti placeat esse, vel aperiam commodi corrupti rerum quo. <a class="link" href="#">Ir al blog</a>
    </p>
    <h4>¿Te interesa trabajar con nosotros? Cuéntanos de tí</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sequi optio eligendi magnam qui quaerat, ullam aspernatur, recusandae fuga accusantium est iste omnis vel dolorum molestiae! Doloremque quas explicabo asperiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid impedit delectus nesciunt aperiam ipsam ea explicabo labore beatae porro, magni corrupti blanditiis, voluptatem ut repellendus at excepturi vero? Quidem, cumque.
    </p>
    <h4>Contáctanos</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure impedit molestias dolore possimus ipsam perferendis, inventore eligendi, pariatur, eum quaerat facere minima odio eos libero. Doloribus ad ipsa, similique impedit!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi amet optio velit nostrum ipsa qui voluptates distinctio sit vel enim numquam esse incidunt cupiditate, quis unde deserunt non corporis, sequi.
    </p>
  </div>
</div>


<div class="gw sm-two-up md-three-up lg-three-up xl-three-up xxl-three-up block">
  <div class="g">
    <div class="site-card panel">
      <div class="card-image">
        <div class="card-title">
          <h2>Title 1</h2>
        </div>
      </div>
      <div class="card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptatem suscipit ab non, soluta inventore consectetur itaque dignissimos cupiditate quisquam. Est qui quidem reprehenderit ab fugiat tempora, earum alias accusamus!</div>
      <div class="card-footer"><button class="btn btn-xs">Action 1</button></div>
    </div>
  </div>
</div>
