<div class="signup-form block--ends">
    <form id="signup-form" class="form panel" autocomplete="off">
        <fieldset class="personal-information-fields">
            <div class="legend">
                <span>Información personal</span>
            </div>
            <fieldset>
                <article class="field">
                    <label class="field__label" for="signUpFirstName">Nombres</label>
                    <input class="field__input first" id="signUpFirstName" name="firstName" type="text">
                </article>
                <article class="field">
                    <label class="field__label" for="signUpLastName">Apellidos</label>
                    <input class="field__input first" id="signUpLastName" name="lastName" type="text">
                </article>
            </fieldset>
            <article class="field">
                <label class="field__label" for="signUpEmail">Correo Electrónico</label>
                <input class="field__input first" type="email" id="signUpEmail" name="email" placeholder="correo@ejemplo.com">
            </article>
            <footer class="form__actions">
                <article class="actions">
                    <button id="nextFormPart" class="btn btn--blue btn--block loading" type="submit">Continuar</button>
                </article>
                <span class="more-info">Ya tiene una cuenta? <a href="/signin" class="link">Inicie sesión</a>.</span>
            </footer>
        </fieldset>

        <fieldset class="session-information-fields is-hidden">
            <div class="legend">
                <span>Información de inicio de sesión</span>
            </div>
            <article class="field">
                <label class="field__label" for="signUpUsername">Nombre de Usuario <a class="ui-interaction link hint">?</a></label>
                <input class="field__input" type="text" id="signUpUsername" name="username">
                <span class="field__hint is-hidden">Recuerde que también puede usar su cuenta de correo electrónico para iniciar sesión</span>
            </article>
            <article class="field ">
                <label class="field__label" for="signUpPassword">Contraseña</label>
                <input class="field__input" type="password" id="signUpPassword" name="password">
            </article>
            <article class="field ">
                <label class="field__label" for="signUpPassword2">Confirmación de Contraseña <a class="ui-interaction link hint">?</a></label>
                <input class="field__input" type="password" id="signUpPassword2" name="password2">
                <span class="field__hint is-hidden">Ingrese su contraseña nuevamente para asegurarse de que ha sido escrita correctamente</span>
            </article>
            <div class="back">
                <a class="ui-interaction link">Volver a información personal</a>
            </div>
            <footer class="form__actions">
                <article class="actions">
                    <input class="btn btn--primary btn--block" type="submit" id="signUpSubmit" value="Registrarse">
                </article>
                <span class="more-info">Ya tiene una cuenta? <a href="/signin" class="link">Inicie sesión</a>.</span>
            </footer>
        </fieldset>
    </form>
</div>
