/**

@site
--------------------------------------------------------
modules/_site.scss
--------------------------------------------------------

We use the naming convention of .site-* for global
modules like the header, main, and footer.

Sometimes it's beneficial to have a wrapping element
around the site, directly following the <body>. In
this case, we call that .site.

------------------------------------------------------ */

.site {
  position: relative;
  padding-bottom: 8em;
}

.panel {
  border: 1px solid $color__grey--soft-light;
  background-color: $color__white;
}

.site-card {
  position: relative;

  > div {
    border-bottom: 1px solid $color__grey--soft-light;
    &:last-child {
      border: 0 none;
    }
  }

  .card-image {
    position: relative;
    height: 10.5em;
    background-color: $color__ghost-white;

    .card-title {
      position: absolute;
      padding: $unit;
      bottom: 0;
      left: 0;
      color: $color__black;

      h1, h2, h3, h4, h5, h6 {
        @extend %fira-sans--light;
        margin: 0;
        padding: 0;
      }
    }
  }

  .card-description {
    padding: $unit;
  }

  .card-footer {
    padding: $unit;
  }
}
